<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Configuración Interfaz-->
		<add key="nombreEquipo" value="ADM_SIEMENS_QC" />
		<add key="intervalo" value="1" />
		<!-- Configuración Rutas archivos-->
		<add key="rutaArchivos" value="D:\Casos\1Desarrollo APP_ADM_SIEMENS_VALIQC_v1.0.0\Archivos solución\Pruebas\Archivos" />
		<add key="rutaArchivosOK" value="D:\Casos\1Desarrollo APP_ADM_SIEMENS_VALIQC_v1.0.0\Archivos solución\Pruebas\ArchivosOK" />
		<add key="rutaArchivosError" value="D:\Casos\1Desarrollo APP_ADM_SIEMENS_VALIQC_v1.0.0\Archivos solución\Pruebas\ArchivosERROR" />
		<!--Configuracion Log-->
		<add key="activaLog" value="S" />
		<add key="rutaLog" value="C:\logs" />
		<add key="nombreLog" value="ADM_SIEMENS_VALIQC" />
		<add key="imprimirQueriesDBLog" value="N" />
	</appSettings>
	<connectionStrings>
		<!--Configuracion Conexión a Base de Datos-->
		<add name="intentosReconexionDB" connectionString="1" />
		<add name="StrCadenaConeccion" connectionString="Server=190.60.122.167;Port=5432;Database=VIVA1A;User Id=postgres;Password=qxnk26yp;" providerName="Npgsql" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>